[alias]
    br = branch -av
    brname = !git branch | grep "^*" | awk '{ print $2 }'
    co = checkout
    l = "!f() { git log $* | grep '^commit ' | cut -f 2 -d ' '; }; f"
    st = status

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = white

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = white bold

[color "status"]
    added = yellow
    changed = white
    untracked = red

[core]
    autocrlf = input
    compression = 9
    excludesfile = ~/.gitignore_global
    filemode = false

[diff]
    mnemonicprefix = true

[merge]
    log = true
    ff = false

[push]
    default = simple

[url "https://bitbucket.org/"]
    insteadOf = bb:

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[include]
    path = ~/.gitconfig.work

[includeIf "gitdir:~/writing/"]
    path = ~/dotfiles/.gitconfig.personal

[includeIf "gitdir:/c/writing/"]
    path = ~/dotfiles/.gitconfig.personal
[gpg]
	program = gpg2
